<div class="all-chats-main-container">
    <div class="left-section">
        <div class="upper-bar-left">
            <div class="upper-bar-image">
                <img src="../../assets/img/user-placeholder.png" alt="user-image">
            </div>
            <div class="upper-bar-options">

            </div>
        </div>
        <div class="all-chat-search">
            <input type="text" placeholder="Buscar en chats">
        </div>
        <div class="all-chats">
            <div class="single-chat-last-message" *ngFor="let chat of allChats" data-testid="single-chat-last-message">
                <div class="single-chat-last-message-image">
                    <img src="../../assets/img/user-placeholder.png" alt="user-image">
                </div>
                <div class="single-chat-last-message-info">
                    <div class="info-title">
                        <p>
                            {{chat.name}}
                        </p>
                    </div>
                    <div class="info-last-message">
                        <p>
                            {{chat.messages[chat.messages.length-1].message}}
                        </p>
                    </div>
                </div>
                <div class="single-chat-last-message-time">
                    <p>{{chat.messages[chat.messages.length-1].date}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="right-section" *ngIf="selectedChat && currentUser">
        <div class="upper-bar-right">
            <div class="upper-bar-right-image">
                <img src="../../assets/img/user-placeholder.png" alt="user-image">
            </div>
            <div class="upper-bar-right-info">
                <div class="upper-bar-right-title">
                    <p>
                        {{selectedChat.name}}
                    </p>
                </div>
            </div>
        </div>
        <div class="single-chat">
            <div class="all-messages-container">
                <div class="single-chat-message" *ngFor="let singleMessage of selectedChat.messages" [ngClass]="{'right-message': singleMessage.sender === currentUser.id}">
                    <div class="message-other-person message-format" *ngIf="singleMessage.sender !== currentUser.id">
                        <p class="message-body" data-testid="single-chat-message">
                            {{singleMessage.message}}
                        </p>
                        <p class="message-time">{{singleMessage.date}}</p>
                    </div>
    
                    <div class="message-own-person message-format" *ngIf="singleMessage.sender === currentUser.id">
                        <p class="message-body">
                            {{singleMessage.message}}
                        </p>
                        <p class="message-time">{{singleMessage.date}}</p>
                    </div>
                </div>
            </div>
          
            <div class="single-chat-send">
                <input type="text" placeholder="Nuevo mensaje" [(ngModel)]="message" data-testid="message-input">
                <button type="button" (click)="sendMessage()" data-testid="message-click">Enviar</button>
            </div>
        </div>
    </div>
</div>